{% load static %}

<header class="top-header">
    <div class="header-inner">
        <a href="{% url 'main:home' %}">
            <img src="{% static 'img/logo-header.png' %}" alt="Логотип" class="logo-img">
        </a>
        <div class="header-contacts">
            <div class="contact-bubble phone">
                <a href="tel:+79539515675">+7 (953) 951-56-75</a>
                <a href="tel:+79509172367">+7 (950) 917-23-67</a>
            </div>

            <a href="mailto:pochta@gmail.com" class="contact-bubble email">tender@tpc-titan.ru</a>
        </div>
    </div>
</header>