body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img/fon_gradient.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

@font-face {
    font-family: "Involve";
    src: url("../fonts/Involve-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Involve";
    src: url("../fonts/Involve-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}