{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сайт{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Общие стили -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    {% block extra_styles %}{% endblock %}
</head>
<body>

{% include 'includes/header.html' %}

<main class="container-fluid">
    {% block content %}{% endblock %}
</main>

{% include 'includes/contacts.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>