{% extends 'main/base.html' %}
{% load filters %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid my-3">
    <a href="{% url 'main:products_by_subcategory' product.subcategory.slug %}" class="back-btn">← Назад к категории</a>
</div>

<div class="container my-5">
    <div class="product-card-wrapper">

        <div class="row g-4 align-items-start">

            <!-- Фото -->
            <div class="col-md-5">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                {% endif %}
            </div>

            <!-- Описание -->
            <div class="col-md-7 product-info">
                <h1 class="product-title">{{ product.name }}</h1>

                {% if product.description %}
                    <div class="product-description">
                        <h5>Описание</h5>
                        <p>{{ product.description }}</p>
                    </div>
                {% endif %}
            </div>

        </div>

        {% if product.characteristics %}
            <div class="product-specs">
                <h5>Характеристики</h5>

                <table>
                    <tbody>
                        {% for name, value in product.characteristics|split_characteristics %}
                            <tr>
                                <td><strong>{{ name }}</strong></td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        {% endif %}

    </div>
</div>

{% endblock %}