{% extends 'main/base.html' %}
{% load filters %}
{% load static %}
{% load humanize %}

{% block title %}{{ product.name }} | {{ product.subcategory.name }} | Параллакс{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid my-3">
    <a href="{% url 'main:products_by_subcategory' product.subcategory.slug %}" class="back-btn">← Назад</a>
</div>

<div class="container my-5">
    <div class="product-card-wrapper">

        <div class="row g-4 align-items-start">

            <div class="col-md-5 text-center">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                {% endif %}
            </div>

            <div class="col-md-7 product-info">
                <h1 class="product-title">{{ product.name }}</h1>

                <div class="product-price">
                    {% if product.price == 1 %}
                        Цена: по запросу
                    {% else %}
                        {{product.price | floatformat:0 | intcomma }} руб.
                    {% endif %}
                </div>

                {% if product.description %}
                    <div class="product-description">
                        <p>{{ product.description | linebreaks }}</p>
                    </div>
                {% endif %}
            </div>

        </div>

        {% if product.characteristics %}
        <section class="product-specs">
            <h3>Характеристики</h3>

            <table>
                <tbody>
                    {% for name, value in product.characteristics|split_characteristics %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>

        </section>
        {% endif %}

    </div>
</div>

{% endblock %}